  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    background-color: #D4F1F4;
    color: #189AB4;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
  }

  ::selection {
    background-color: violet;
  }

  h1,h2,h3 {
    color: #75E6DA;
  }
  a {
    color: #000C66;
  }

  nav a {
    color: #75E6DA;
  }

  hr {
    width: 50vw;
    min-width: 300px;
    max-width: 890px;
    margin-top: 3em;
    margin-bottom: 2em;
    border-bottom: 3px dotted black;
  }
  
  .width-wrap {
    margin: 0 auto;
    max-width: 960px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    border: 1px solid rgba(0,0,0,0.3);
    border-top: none;
    margin-bottom: 3em;
    background-color: #F9F1F0;
    


  }

  th, td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(0,0,0,0.05);
    

  }

 thead td, tfoot td, th {
    background-color: rgba(0,0,0,0.2);
  }
 

tbody tr:nth-child(even) td {
  background-color: rgba(0,0,0,0.15);
}

header {
  border-top: 4px solid rgba(0,0,0,0.1);
  margin-left: -2em;
  margin-right: -2em;
}

nav {
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  margin-right: 2em;
  margin-left: 2em;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  display: inline;

}

nav ul li a:hover {
  border-top: 4px solid #F8D210 ;
  text-decoration: none;
}

nav ul li a {
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-top: 4px solid transparent;
  margin-top: -4px;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  
}

  dt::after{
      content: ":";
  }

  dd{
    padding-left: 2em;
  }
 label {

  display: block;


}
input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline;
  
  
}

button[type=submit] {
  border: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: blue;
  color: white;
}

input:invalid {
  background-color: red;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Work Sans', 'Roboto Mono', sans-serif;
}
a:link {

  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ol{
  list-style-type: upper-roman;
}

iframe {
 border-top-right-radius: 2em;
 border-bottom-left-radius: 2em;
}

 fieldset ul {
  list-style: none;
}
fieldset ul li {
  display: block;
}

input[type="radio"] {
  visibility: hidden;
}
